# Configuration de l'API Backend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_API_VERSION=v1

# Configuration de l'environnement
NODE_ENV=development

# URLs des endpoints
NEXT_PUBLIC_LOGIN_ENDPOINT=/api/auth/login
NEXT_PUBLIC_LOGOUT_ENDPOINT=/api/auth/logout
NEXT_PUBLIC_REFRESH_ENDPOINT=/api/auth/refresh
NEXT_PUBLIC_RESET_PASSWORD_ENDPOINT=/api/auth/reset-password
NEXT_PUBLIC_UPDATE_PASSWORD_ENDPOINT=/api/auth/update-password


NEXT_PUBLIC_USE_MOCK_DATA=true